#navbar{
    flex-direction: column;
}
#text-section .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
   
   
   #project-container{
        margin: 34px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    #projects{
        align-content: center;
    }
